/* css reset */
*{
    margin: 0;
    padding: 0;
}


/* CSS Variables */
:root{
    --navbar-height:59px;
}
/* Navigation bar */
#navbar{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative; 
    top: 0px;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    
}
/* Navigation bar Logo and Image */
#logo{
    margin: 10px 10px;
}
#logo img{
    height: 74px;
    width: 70px;
    margin: 3px 22px;

}

 #navbar ul{
    display: flex;
    font-family: 'Bree Serif', serif;
}

 

 #navbar ul li{
    
    list-style: none;
    font-size: 1.3rem;
}


 #navbar ul li a{
     color: white;
     display: block;
     border-radius: 20px;
    padding: 3px 23px;
    text-decoration: none;
   
}

 #navbar ul li a:hover{
     color: black;
    background-color: white;
   
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 377px;
    justify-content: center;
    align-items: center;
    
}
#home::before{
    content: "";
    background: url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.6;
}
#home h1{
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}
#home p{
    color:black;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

/* Services section */
.serivces-container{
    position: relative;
    top: 100px;
}

#services{
    margin-bottom: 55px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: #fff1fb;
    
}
#services .box img{
    margin: auto;
    height: 150px;
    display: block;
}
    

#services .box p{
    font-family: 'Bree Serif', serif;

}


/* Client Section */
#client-section{
    position: relative;
    top: 50px;
    /* height: 344px; */
}
#client-section::before{
    content: "";
    position: absolute;
    background: url(../bg2.jpg);
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index:-1;
}


#clients{
display: flex;
justify-content: center;
align-items: center;
}
#clients img{
height: 110px;
}
.client-item{
    padding: 28px;
}

/* Contact Section */
#contact h1{
    position: relative;
    top: 16px;
}

#contact{
    position: relative;
    /* top: 50px; */
    margin: 23px 0px;
}
#contact::before{
    content: "";
    position: absolute;
    top: 27px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: url('../logo.png') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 24px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 1.1rem;
}


#contact-box form{
    width: 30%;
}


#contact-box label{
    font-size: 1.3rem;
    font-family: 'Bree Serif', serif;
}




footer{
    background-color: black;
    color: white;
    font-family: 'Bree Serif', serif;
}


/* Utility Classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Bree Serif', serif;

}
.btn{
    font-size: 1.5rem;
    padding: 6px 20px;
    border:2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
